.navbar{
    padding: 0px 75px;
    /*margin: 0px 0px;
    border-radius: 35px;*/
    display: flex;
    justify-content: space-between; 
    align-items: center;
    color: #fcf9f7;
    background-color: #591b0d;
}

.navbar .text{
    width: 150px;
}

.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 18px;
}

.navbar-right{
    display: flex;
    align-items: right;
    gap: 15px;
    height:30px;
}

.navbar button{
    background: transparent;
    font-size: 15px;
    color: #fcf9f7;
    border: 1px solid  #fcf9f7;
    border-radius: 30px;
    padding: 0px 10px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover{
    background: #fcf9f7;
    color: #591b0d;
}

.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #fcf9f7;
}

.navbar li{
    cursor: pointer;
}

.navbar-search-icon{
    position: relative;
}

.navbar-search-icon .dot{
    position: absolute;
    min-width: 8px;
    min-height: 8px;
    background-color: tomato;
    border-radius: 5px;
    top: -4px;
    right: -8px;
}

.cart-icon{
    height: 28px;
}